/* Design for mobile first */


* {

	box-sizing: border-box;
}

body {
	margin: 0;
}


.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 1500px;
	display: block;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}



/* Tablette et mobile */
@media only screen and (max-width: 768px) {
	.navbar {
		position: fixed;
		background-color: darkgrey;
		height: 30px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		z-index: 10;
	}

	.navbar .section {
		font-size: 20px;
		margin-top: 0px;
		background-color: #eeeeee;
		border: 1px solid black;
		text-align: center;
		height: 100%;
		line-height: 30px;
	}

	.navbar .section:hover {
		color: grey;
	}

	.col2 {
		position: absolute;
		top: 30px;
		width: 100%;
		background-color: pink;
		height: 5000px;
		border: 1px solid red;

	}

	#ecran {
		border: 1px solid black;
	}

}