/* Design for mobile first */


* {

	box-sizing: border-box;
}

body {
	margin: 0;
}


.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 1500px;
	display: block;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}



/* Tablette et mobile */
@media only screen and (max-width: 768px) {
	.navbar {
		position: fixed;
		height: 30px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		z-index: 10;
		grid-gap: 3px;
	}

	.navbar .section {
		font-size: 20px;
		margin-top: 0px;
		background-color: #eeeeee;
		text-align: center;
		height: 100%;
		line-height: 30px;
		cursor:pointer;

	}

	.navbar .section:hover {
		color: grey;

	}

	#col2 {
		position: absolute;
		top: 30px;
		width: 100%;
		background-color: white;
		height: 5000px;

	}

	/*#ecran {
		border: 1px solid black;
	}*/

}

@media only screen and (min-width:769px) {

	.navbar {
		position: fixed;
		background-color: white;
		/*grid-column: 1/2;*/
		height: 100%;
		width: 20%;

	}

	.navbar .section {
		font-size: 24px;
		margin-top: 10px;
		padding: 10px;
		background-color: #eeeeee;
		cursor:pointer;
	}

	.navbar .section:hover {
		color: grey;
	}


	#col2 {
		position: absolute;
		width: 80%;
		right: 0%;
		background-color: white;
		height: 5000px;
	}

}


#about {
	position: absolute;
	font-size: 20px;
	width: 70%;
	max-width: 1000px;
	height: auto;
	display: block;
	margin: auto;
	top: 50px;
	right: 0;
	left: 0;
	text-align: justify;
    text-justify: inter-word;
}

ul {
	list-style-type: none;
}