* {

	box-sizing: border-box;
}

body {
	margin: 0;

}

.wrapper {
	position: absolute;
	/*display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
	grid-auto-rows: minmax(500px, auto);*/
	width: 100%;
	height: 100%;

}

.navbar {
	position: fixed;
	background-color: red;
	/*grid-column: 1/2;*/
	height: 100%;
	width: 20%;
	
}

.col2 {
	position: absolute;
	width: 80%;
	right: 0%;
	background-color: orange;
	height: 5000px;
}




@media screen and (max-width: 480px) {
	.navbar {
		position: fixed;
		background-color: green;
		/*grid-column: 1/2;*/
		height: 100%;
		width: 20%;
		
	}

	.col2 {
		position: absolute;
		width: 80%;
		right: 0%;
		background-color: yellow;
		height: 5000px;
	}

}